.menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(152, 113, 253);
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 10px;
}

.menu ul {
    display: flex;

}

.menu ul li{
    list-style: none;
    margin-right: 10px;
}